body {
    font-family: 'Times New Roman', 'Verdana', sans-serif;
}

h1 {
    color: blue;
    font-size: 60px;
}

h2 {
    color: purple;
    font-size: 45px;
}

p {
    color: brown;
}

.steps,
.ingredients {

    color: red;
}

.steps {
    font-weight: 800;
}